.nav-wrapper {
background-color: #ffc600;
}
.nav-wrapper a {
color: black;
font-size: 16px; 

}
.carousel .carousel-item>img {
    position: absolute;
    height: 90vh;
    left: 0 ;
}

.box {
    position: relative;    
}
.carousel.carousel-slider .carousel-item p {
    font-size: 27px;   
}

.logImage{
    width: 250px;
    height: 70px;
}

.full-width{
    height: 978px;
}
.carousel .indicators .indicator-item {
    height: 15px;
    width: 15px;
    background-color: grey;
}
#map {
    height: 400px;
    width: 100%;
   }
.contact{
    margin-top: 40px;
    margin-bottom: 15px;
    height: 200px;
    padding: 30px;
}
.contact span {
    font-weight:bold;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }

  main {
    flex: 1 0 auto;
  }
  .page-footer{
    background-color: #ffc600;
  }
  